force-app/main/default/Flows/Sync_Opp_Product_Service_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Add Quantity to Total.</description>
        <name>Add_Quantity_to_Total</name>
        <label>Add Quantity to Total</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>TotalAllocatedQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Service_Schedules.JBP_Service_Quantity_Allocated__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Service_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initialize Total Allocated Quantity</description>
        <name>Initialize_Total_Allocated_Quantity</name>
        <label>Initialize Total Allocated Quantity</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>TotalAllocatedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Service_Schedules</targetReference>
        </connector>
    </assignments>
    <description>Binned the old one to include loops</description>
    <environments>Default</environments>
    <interviewLabel>Sync Opp Product &amp; Service Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Opp Product &amp; Service Schedule</label>
    <loops>
        <description>Loop Through Service Schedules</description>
        <name>Loop_Through_Service_Schedules</name>
        <label>Loop Through Service Schedules</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Related_Service_Schedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Quantity_to_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Product_Record_Linked_to_Service_Schedule</name>
        <label>Get Opportunity Product Record Linked to Service Schedule</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Service_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Related Service Schedules</description>
        <name>Get_Related_Service_Schedules</name>
        <label>Get Related Service Schedules</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Total_Allocated_Quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JBP_Service_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Opportunity Product</description>
        <name>Update_Opportunity_Product</name>
        <label>Update Opportunity Product</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Service_Schedule</targetReference>
        </connector>
        <inputAssignments>
            <field>JBP_Quantity_Consumed__c</field>
            <value>
                <elementReference>TotalAllocatedQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity_Product__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Schedule</name>
        <label>Update Service Schedule</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>JBP_Service_Quantity_Remaining__c</field>
            <value>
                <elementReference>$Record.Opportunity_Product__r.JBP_Quantity_Remaining_Calculation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Product_Record_Linked_to_Service_Schedule</targetReference>
        </connector>
        <object>JBP_Service_Schedule__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>CurrentQuantity</description>
        <name>CurrentQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>OpportunityProductId</description>
        <name>OpportunityProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>TotalAllocatedQuantity</description>
        <name>TotalAllocatedQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
